@model Entidades.Ciudad

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1><br />

<h5>Ciudad</h5>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <!-- FILA #1 -->
    <div class="row">

        <div class="form-group col-md-4">
            <label class="control-label">Nombre Ciudad:</label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>

    </div>

    
    <!-- BOTONES -->
    <div class="row">

        <div class="form-group col-md-12">
            <input type="submit" value="GUARDAR" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">CANCELAR</a>
        </div>

    </div>

</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
